@white: #FAFAFA;
@black: #0A0A0A;

@grey: ##9E9E9E;
@lightgrey: #F5F5F5;
@darkgrey: #212121;

@bluegrey: #607d8b;
@lightbluegrey: #cfd8dc;
@darkbluegrey: #263238;

@red: #E51C23;
@lightred: #F9BDBB;
@darkred: #B0120A;

@purple: #9C27B0;
@lightpurple: #E1BEE7;
@darkpurple: #4A148C;

@blue: #5677FC;
@lightblue: #D0D9FF;
@darkblue: #2A36B1;

@cyan: #00BCD4;
@lightcyan: #B2EBF2;
@darkcyan: #006064;

@green: #259B24;
@lightgreen: #A3E9A4;
@darkgreen: #0D5302;

@yellow: #FFEB3B;
@lightyellow: #FFFDE7;
@darkyellow: #F57F17;

@orange: #FF9800;
@lightorange: #FFE0B2;
@darkorange: #E65100;


@main-background: @darkbluegrey;
@content-background: @white;
