@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  background: #263238;
  color: #fafafa;
}
h1 {
  font-size: 3em;
  font-weight: 300;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25em;
}
h3 {
  font-weight: bold;
}
p {
  margin-bottom: 1em;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: #00bcd4;
  transition: all 0.5s;
}
a:hover,
a:visited:hover,
a:active:hover {
  color: #b2ebf2;
}
header#header,
footer#footer {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  display: block;
  margin: auto;
  padding: 0;
}
.clearfix {
  clear: both;
}
body header#site-header {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  display: block;
  margin: auto;
  padding: 0;
  position: relative;
  padding: 0.25em 0;
  box-sizing: border-box;
  height: 4em;
}
body header#site-header h1#site-title {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 636.8px;
  margin-left: 0;
  line-height: 1em;
}
body header#site-header h1#site-title a {
  color: #fafafa;
  text-decoration: none;
}
body header#site-header form#site-search {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 313.6px;
  text-align: right;
}
body header#site-header form#site-search input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background: #fafafa;
  width: 55%;
  padding: 0.5em;
  margin: 0;
  opacity: 0.5;
  transition: all 0.5s;
}
body header#site-header form#site-search input:focus {
  width: 25em;
  opacity: 1;
  width: 100%;
}
body header#site-header h1#site-title,
body header#site-header form#site-search {
  margin-bottom: 0;
  vertical-align: middle;
}
footer {
  min-height: 1em;
}
div.index-anime {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  display: block;
  margin: auto;
  padding: 0;
}
div.index-anime ul {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  margin-left: 0;
}
div.search {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  display: block;
  margin: auto;
  padding: 0;
}
div.search p.details {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  margin-left: 0;
}
ul.anime_list {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  margin-left: 0;
}
ul.anime_list li.anime {
  margin-bottom: 0.5em;
  padding: 0.5em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
ul.anime_list li.anime:last-child {
  margin-bottom: 0;
}
ul.anime_list li.anime:nth-child(odd) {
  background: #364850;
}
ul.anime_list li.anime:nth-child(even) {
  background: #2e3d44;
}
ul.anime_list li.anime p.other_titles {
  font-size: 0.7em;
  margin: 0;
  padding: 0 1em;
}
div#splash {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 0;
  max-height: 30em;
}
div#splash img {
  height: auto;
  width: 100%;
  display: block;
  visibility: hidden;
  margin-top: -4em;
}
div#splash div.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10em;
  left: -10em;
  -webkit-box-shadow: inset 0 0 2.5em #000000;
  -moz-box-shadow: inset 0 0 2.5em #000000;
  box-shadow: inset 0 0 2.5em #000000;
}
div#anime {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 960px;
  display: block;
  margin: auto;
  padding: 0;
}
div#anime div#anime-name {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 798.4px;
  margin-left: 0;
  vertical-align: middle;
}
div#anime div#anime-name h2,
div#anime div#anime-name p {
  margin: 0;
  padding: 0;
  font-weight: 200;
}
div#anime div#anime-actions {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 152px;
  vertical-align: middle;
}
div#anime div#anime-actions a#subscribe {
  background: #00bcd4;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fafafa;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.5s;
  float: right;
}
div#anime div#anime-actions a#subscribe:hover {
  background: #008fa1;
}
div#anime div.anime-description {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 475.2px;
  margin-left: 0;
  text-align: justify;
}
div#anime div.anime-list {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 4.8px;
  margin-bottom: 9.6px;
  padding: 4.8px;
  width: 475.2px;
}
div#anime div.anime-list ul#episodes p {
  margin: 0;
}
div#anime div.anime-list ul#episodes li {
  position: relative;
  padding: 1em 0;
}
div#anime div.anime-list ul#episodes li:first-child {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
div#anime div.anime-list ul#episodes li:last-child {
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
div#anime div.anime-list ul#episodes li:nth-child(odd) {
  background: #263238;
}
div#anime div.anime-list ul#episodes li:nth-child(even) {
  background: #607d8b;
}
div#anime div.anime-list ul#episodes li div {
  display: inline-block;
  vertical-align: middle;
}
div#anime div.anime-list ul#episodes li div.episode-number {
  width: 15%;
  text-align: center;
}
div#anime div.anime-list ul#episodes li div.episode-title {
  width: 70%;
}
div#anime div.anime-list ul#episodes li div.episode-state {
  position: absolute;
  right: 0.5em;
  top: 0;
  bottom: 0;
  height: 100%;
}
div#anime div.anime-list ul#episodes li div.episode-state .icon {
  background-image: url(icons/ic_action_about.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2em 2em;
  display: inline-block;
  width: 2em;
  height: 2em;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out, background-size 0.25s ease-in-out;
}
div#anime div.anime-list ul#episodes li div.episode-state .icon:hover {
  opacity: 1;
  background-size: 2.1em 2.1em;
}
div#anime div.anime-list ul#episodes li div.episode-state .icon.loading {
  background-image: url(icons/dark/ic_action_refresh.png) !important;
  -webkit-animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
div#anime div.anime-list ul#episodes li div.episode-state .icon.owned {
  background-image: url(icons/dark/ic_action_collection.png);
}
div#anime div.anime-list ul#episodes li div.episode-state .icon.downloading {
  background-image: url(icons/dark/ic_action_data_usage.png);
}
div#anime div.anime-list ul#episodes li div.episode-state .icon.download {
  background-image: url(icons/dark/ic_action_download.png);
}
div#anime div.anime-list ul#episodes li.ownder {
  background: #259b24;
}
/*# sourceMappingURL=style.css.map */