{% extends "layout.html" %}

{% block title %}{{ anime.name }}{% endblock %}

{% block body %}
    <div id="splash">
        <div class="shadow"></div>
        <img src="/images/{{ splash }}" />
    </div>
    <div id="anime">
        <h2 id="anime-name">{{ anime.name }} ({{ anime['name_jp'] }})</h2>
        <div id="anime-actions">
            <a id="subscribe" href="/download/anime/{{ anime['id'] }}">Subscribe</a>
            <div class="clearfix"></div>
        </div>

        <div class="anime-description">
            <p>
                {% autoescape false %}
                    {{ anime['description'] }}
                {% endautoescape %}
            </p>

        </div>

        <div class="anime-list">
            <ul id="episodes">
                {% for episode in episodes %}
                    {% include "episode_row.html" ignore missing %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
