{% extends "layout.html" %}

{% block body %}
    <div id="splash">
        <div class="shadow"></div>
        <img src="/images/{{ splash }}" />
    </div>
    <div id="anime">
        <h2 id="anime-name">{{ anime.name }} ({{ anime['name_jp'] }})</h2>
        <div id="anime-actions">
            <a id="subscribe" href="/download/anime/{{ anime['id'] }}">Subscribe</a>
            <div class="clearfix"></div>
        </div>
        <div class="description">
            <p>
                {{ anime['description'] }}
            </p>
            <h3>Groups</h3>
            <ul>
                {% for group in groups %}
                    <li>
                        <p>{{ group.group.name }} ({{ group.completed_state }})<br/>{{ group.rating }} ({{ group.votes }})</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="list">
            <ul id="episodes">
                {% for episode in episodes %}
                    {% include "episode_row.html" ignore missing %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
