<li {% if episode.files|length > 0 %} class="owned" {% endif %}>
    <div class="episode-number">
        <h2>{{ episode.epno }}</h2>
    </div>
    <div class="episode-title">
        {% if episode.title %}
            <h3>{{ episode.title }}</h3>
            <span>{{ episode.title_ro }}</span>
        {% else %}
            <h3>{{ episode.title_ro }}</h3>
        {% endif %}
    </div>
    <div class="episode-state">
        {% if episode.files|length > 0 %}
            <span class="icon owned" title="{{ episode.files[0].path }}"></span>
        {% elif episode.download %}
            <span class="icon downloading"></span>
        {% else %}
            <a href="/torrents/episode/{{ episode.id }}" id="{{ episode.epno }}" class="icon download"></a>
            <script>
                $('#{{ episode.epno }}').on('click', function() {
                    var a = $(this);
                    if (a.hasClass('loading') || a.data('loaded')) {
                        return false;
                    }
                    a.addClass('loading').removeClass('download');
                    $.ajax(a.prop('href'))
                    .done(function(response) {
                        var li = $('<li>' + response + '</li>').hide();
                        li.find('a').on('click', function() {
                            a.addClass('loading').removeClass('download');
                            li.slideUp();
                            $.ajax($(this).prop('href'))
                            .always(function() {
                                a.removeClass('loading');
                            })
                            .done(function() {
                                a.addClass('downloading');
                            })
                            .fail(function() {
                                a.addClass('download');
                                li.slideDown();
                            });
                            return false;
                        });
                        a.parents('li').after(li);
                        a.addClass('download').removeClass('loading');
                        a.data('loaded', true);
                        li.slideDown();
                    });
                    return false;
                });
            </script>
        {% endif %}
    </div>
</li>