{% extends "layout.html" %}

{% block body %}
<div id="anime">
  <h1 class="title">
    {{ anime.getTitle()['en'] }} ({{ anime.getTitle()['x-jat'] }})
  </h1>
  <img class="cover" src="/images{{ anime.getPicture()  }}" />
  <p class="description">
    {{ anime.getDescription() }}
  </p>
  <ul class="files">
    {% for episode in episodes %}
      <li>
        <h4>{{ episode.epno }}: {{ episode.get_title() }}</h4>
        {% if episode,files|length > 0 %}
          <p>Onwed: {{ episode.files[0].path }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
