{% extends "layout.html" %}

{% block body %}
<div id="anime">
    <header class="c8 first">
        <img src="/images/{{ splash }}" />
        <h2>{{ anime.name or anime.name_ro }} ({{ anime['name_jp'] }})</h2>
        <!--<a href="/download/anime/{{ anime['id'] }}">Subscribe</a>-->
    </header>
    <div class="c2 first" id="anime-sidebar">
        <img class="" src="/images/{{ poster }}" />
    </div>
    <div class="c6" id="anime-info">
        <p>
            {{ anime['description'] }}
        </p>
        <ul>
            {% for episode in episodes %}
                <li>
                    <h4>{{ episode.epno }}: {{ episode.get_title() }}</h4>
                    <p>
                        {% if episode.files|length > 0 %}
                            Owned: {{ episode.files[0].path }}
                        {% elif episode.download %}
                            Downloading
                        {% else %}
                            <a href="/download/episode/{{ episode.id }}">Download this episode</a>
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
